/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html, body {
  width: 100%;
  height: 100%;
}

body{
  margin: 0 auto;
}

.content {
  width: 80%;
  height: 100%;
  float: left;
  background-color: white;
}
.inner-content {
	margin: 5em;
}

.sidebar{
  width: 20%;
  height: 100%;
  float: left;
  background-color: rgb(078, 042, 132);
  
}

.sidebar ul{
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
  
}

.sidebar li{
    width: 100%;
    padding-top: 5em;
}

.sidebar a{
    display: block;
    font-size: 1em;
}

.button {
  background: rgb(147, 128, 182);
  border: 1px solid #bbb;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 1px 1px rgb(182, 172, 209);
  -moz-box-shadow: inset 0 0 1px 1px rgb(182, 172, 209);
  box-shadow: inset 0 0 1px 1px rgb(182, 172, 209);
  color: #333;
  font: bold 12px "helvetica neue", helvetica, arial, sans-serif;
  line-height: 1;
  padding: 8px 0 9px;
  margin: 2%;
  text-align: center;
  width: 96%; }
  .button:hover {
    background: rgb(182, 172, 209);
    -webkit-box-shadow: inset 0 0 1px 1px rgb(182, 172, 209);
    -moz-box-shadow: inset 0 0 1px 1px rgb(182, 172, 209);
    box-shadow: inset 0 0 1px 1px rgb(182, 172, 209);
    color: #222;
    cursor: pointer; }
  .button:active {
    background: rgb(182, 172, 209);
    -webkit-box-shadow: inset 0 0 1px 1px #e3e3e3;
    -moz-box-shadow: inset 0 0 1px 1px #e3e3e3;
    box-shadow: inset 0 0 1px 1px #e3e3e3;
    color: #000; 
}

